
/* Make the images to be standardized */
img {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 150px; /* Set a small width */
    height: 150px;
 }
  
  /* Add a hover effect (blue shadow) */
  img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }

figcaption {
    /* Make the caption a block so it occupies its own line. */
    display: block;
    font-size: 18pt;
    font-family: cursive;
}

figure {
    /* To correctly align image, regardless of content height: */
    vertical-align: top;
    display: inline-block;
}

.question-text {
  text-align: center;
  font-size: 28pt;
  font-family: cursive;
}

div.list-of-answers {
  text-align: center;
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-content: space-between;
    text-align: center;
    font-family: cursive;
    font-size: 18pt;
  }
  .flex-item {
    text-decoration: none;
  }
  
  /* Responsive layout - makes a one column layout instead of a two-column layout */
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }
